@inherits UmbracoViewPage
@using VladyKsenicUmbracoProjekt.lib.Models.UmbracoCmsContent
@using VladyKsenicUmbracoProjekt.lib.Repositories.UmbracoCmsContent
@{ 
    Text textyPrePatu = TextRepository.GetFromUmbraco(Umbraco);
}



<div class="container">
    <div class="päta">
        <hr />
        Copyright &#169; @DateTime.Today.Year Vladimír Ksenič.
        <br />
        Contact me or find me on social media >>>
        <a class="fa fa-facebook-official" href="https://www.facebook.com/vladimir.ksenic" data-toggle="tooltip" title="facebook" target="_blank"> Facebook</a>
        <a class="fa fa-pinterest" href="https://sk.pinterest.com/ksenicv/" data-toggle="tooltip" title="pinterest" target="_blank"> Pinterest</a>
        <a class="fa fa-linkedin" href="https://www.linkedin.com/" data-toggle="tooltip" title="linkedin" target="_blank"> Linkedin</a>
        <hr />

        @*Telefon:@textyPrePatu.OsobnaStrankaTelefon
        <br />
        Email:@textyPrePatu.OsobnaStrankaEmail
        <br />*@
    </div>
</div>