@inherits UmbracoViewPage
@using VladyKsenicUmbracoProjekt.lib.Models.UmbracoCmsContent
@using VladyKsenicUmbracoProjekt.lib.Repositories.UmbracoCmsContent
@{ 
    Text textyPrePatu = TextRepository.GetFromUmbraco(Umbraco);
}



<div class="container">
    <div class="pata">
        <hr />
        Copyright &#169; @DateTime.Today.Year Vladimír Ksenič.

        <br />
        Tel.: @textyPrePatu.OsobnaStrankaTelefon
        <br />
        Email: @textyPrePatu.OsobnaStrankaEmail
        <br />
        Contact me or find me on social media!>>><br>
        <a class="fa fa-facebook-official w3-text-grey" href="https://www.facebook.com/vladimir.ksenic" data-toggle="tooltip" title="facebook" target="_blank"> facebook</a>
        <a class="fa fa-github w3-text-grey" href="https://github.com/" data-toggle="tooltip" title="github" target="_blank"> github</a><br>
        @*<a class="fa fa-pinterest w3-text-grey" href="https://sk.pinterest.com/ksenicv/" data-toggle="tooltip" title="pinterest" target="_blank"> pinterest</a>*@
        <a class="fa fa-linkedin w3-text-grey" href="https://www.linkedin.com/" data-toggle="tooltip" title="linkedin" target="_blank"> linkedin</a>
        @*<a class="fa fa-twitter w3-text-grey" href="https://twitter.com/ladow11" data-toggle="tooltip" title="twitter" target="_blank"> twitter</a>
        <a class="fa fa-youtube  w3-text-grey" href="https://www.youtube.com/channel/UCX3EKD2gPCW81IiBCWDeh-Q?view_as=subscriber" data-toggle="tooltip" title="youtube" target="_blank"> youtube</a>
        <a class="fa fa-instagram w3-text-grey" href="https://www.instagram.com/vladimirksenic/" data-toggle="tooltip" title="instagram" target="_blank">instagram</a>
        <a class="fa fa-mixcloud w3-text-grey" href="https://www.mixcloud.com/vladim%C3%ADr-kseni%C4%8D/favorites/" data-toggle="tooltip" title="mixcloud" target="_blank">mixcloud</a>*@
        

    </div>
</div>