@inherits Umbraco.Web.Macros.PartialViewMacroPage
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    string videoUrl = Umbraco.Media(Udi.Parse(Model.MacroParameters["localVideo"].ToString())).Url();
}



<div class="course-video">
    <video src="@videoUrl" controls></video>
</div>